.rounded-sm {
  border-radius: 12px;
}

.img-rounded-full {
  border-radius: 50%;
}

.vertical-content-spacer {
  padding-top: 5%;
  padding-bottom: 5%;
}

.content-block {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.background-gradient {
  background-image: linear-gradient(to bottom right, #1D976C, #93F9B9);
}
